/*Page*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #161F2F;
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

Button {
  font-size: 1em;
  background-color: #32405D;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  padding: 6px;
  border: 2px solid #bcbcbc;
  color: white;
  border-radius: 8px;
}

Button:hover {
  cursor: pointer;
  background-color: #3a597d;
}

.coolButton {
  width: calc(50% - 10px); /* Fill half the container width minus a little space for the gap */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  margin: 5px; /* Space around the buttons */
  padding: 10px; /* Padding inside the buttons for better touch */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.carouselContainer {
  margin-top: 20px;
  background: #32405D;
  border-radius: 8px;
}

.carousel {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Teleprompter drawing animation*/
.telepompterDrawing {
  aspect-ratio: 1 / 1;
  margin-top: 10px;
  margin-bottom: 5vh;
  max-width: 250px;
  text-align: center;
  color: white;
}

/*Connection Form Box*/
.connectionFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 33vw; /*for tha big input boxes*/
  margin-top: 20px; /*prevent overlap w banner*/
  text-align: center;
}

.connectionFormInput {
  font-size: 1em;
  width: 20vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #dddddd;
  border-radius: 8px;
  border: 2px solid #dddddd;
}

.connectTeleprompterButtonContainer {
  margin-top: 10px;
}

.connectTeleprompterButton {
  color: gray;
  text-decoration: none;
  text-decoration: underline;
  font-size: 16px;
  color: white;
  margin-top: 10px; 
}

.connectTeleprompterButton:hover {
  cursor: pointer;
}

/*userList*/
.userListContainer {
    margin-top: 80px; /*prevent overlap w banner*/
    list-style-type: none; 
    overflow: auto;
    text-align: center;
}

.userList {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 10px;
}

/*Prompt Box*/
.promptContainer {
  display: flex;
  flex-direction: column;
  width: min(400px, 80vw);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 10px;

  border-radius: 15px 30px 30px;
  background: #537fb4;
  padding: 20px;
  height: 150px;
}

.promptBox {
  flex: 20%;
  resize: none;
}

.promptButton {
  width:25%;
  align-self: end;
}

.promptText {
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  visibility: hidden;
}

/*Error boxes*/
.errorHost {
  display: flex;
  flex-direction: column;
  width: 50%;
  left: 25%;
  right: 25%;
  position: absolute;
  z-index: 10; /* 10 in case for some reason we want something between errors and game in future. */
}

.errorContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgba(100, 148, 237, 0.726);
  border-radius: 3px;
  position: relative;
}

.errorCloseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: crimson;
  margin-left: auto;
  border-radius: 3px;
}

.errorCloseButton:active {
  background-color: red;
}

.errorText {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 10pt;
}

/* Mobile styles */
@media (max-width: 768px) {
  .connectionFormContainer {
    margin-top: 10vh;
  }

  .telepompterDrawing {
    max-width: 50vw;
  }

  .connectionFormContainer {
    width: 100vw;
  }
  
  .connectionFormInput {
    width: min(400px, 80vw)
  }
}