body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1844;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
}

#errorText {
  color: red;
}

#teleprompter-drawing {
    margin-top: 10px;
    max-width: 300px;
    text-align: center;
    color: white;
}

#scrolling-text {
    background-color: black;
    overflow: auto;
}

#promptList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    overflow: auto;
    text-align: center;
}

.host-speech {
    color: yellow;
}

.cohost-speech {
    color: green;
}

.guestexpert-speech {
    color: red;
}

.detective-speech {
    color: brown;
}

.fieldreporter-speech {
    color: orange;
}

.witness-speech {
    color: pink;
}

.commentator-speech {
    color: purple;
}

.zookeeper-speech {
    color: gray;
}

.submit-prompt {
  font-size: 1.5em;
  padding: 10px 20px;
}

.prompt-textarea {
  min-width: 20vw;
}

#inLobby {
    text-align: center;
}

.content {
    margin-top: 10px;
    max-width: 1000px;
    min-width: 600px;
    text-align: center;
    color: white;
    background-color: #090e23;
    padding: 30px;
}


.pulse-animation {
    display: inline-block;
    animation: pulse 1s infinite;
}



@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

/* Responsive styles */
@media (max-width: 800px) {
  form {
    flex-direction: column;
  }


  label,
  input[type="text"],
  button {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
    margin-left: 0;
  }
}