body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1844;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
}

//connection form

#connectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;

}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #303030;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}


#connectButton {
  width: 100%;
  color: black;
  background-color: cyan;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#connectTeleprompterButton {
  color: gray;
  text-decoration: none;
  text-decoration: underline;
  font-size: 16px;
  margin-top: 10px;
}


button {
    font-size: 1em;
}

#errorText {
  color: red;
}

#lobby-userlist {
    list-style-type: none;
}

#inLobby {
    text-align: left;
}

#teleprompter-drawing {
    margin-top: 10px;
    max-width: 300px;
    text-align: center;
    color: white;
}

#scrolling-text {
    background-color: black;
    overflow: auto;
}

#promptList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    overflow: auto;
    text-align: center;
}

.host-speech {
    color: yellow;
}

.cohost-speech {
    color: green;
}

.guestexpert-speech {
    color: red;
}

.detective-speech {
    color: brown;
}

.fieldreporter-speech {
    color: orange;
}

.witness-speech {
    color: pink;
}

.commentator-speech {
    color: purple;
}

.zookeeper-speech {
    color: gray;
}

.prompt-textarea {
  min-width: 20vw;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #090e23;
    padding: 30px;
}


.pulse-animation {
    display: inline-block;
    animation: pulse 1s infinite;
}



@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}

@media only screen and (max-width: 600px) {

    .content {
        width: 100%;
    }

    #teleprompter-drawing {
        max-width: 50%;
        height: auto;
    }


    .button {
        font-size: 16px;
        padding: 10px;
        width: 80vw;
    }
}
